.add-button {
  background-color: #f44336;
  color: white;

  line-height: 1;
  text-align: center;
  text-decoration: none;
  font-size: 0.8rem;
  text-transform: none;
  padding: 0.5rem 0.3rem;
  margin: 0.9rem 1rem 0.5rem 0;
  display: inline-block;
  border: 1px solid #f44336;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica,
    Arial, sans-serif;
}

.add-button:hover {
  background-color: crimson;
}

.add-button-wrapper {
  display: flex;
  justify-content: center;
}

.edit-form-wrapper,
.form-wrapper {
  width: 80vw;
  margin: 5% auto;
}

.table-wrapper {
  width: 80vw;
  margin: 2% auto;
}
